.item {
  background: #fff;
  width: 200px;
  height: 300px;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  border: solid black 1px;
  text-align: center;
}
.item__img {
  width: 6em;
  height: 6em;
}
.item__button {
  font-size: small;
  height: 4em;
  width: 6em;
}
